h1 {
  color: blue;
  font-size: 67px;
}

.bacon{
  background-color: red;
}

.broccoli{
  background-color: green;
}

.circular{
  border-radius: 100%;
}

#heading {
  color:rosybrown;
}

img:hover{
  background-color: gold;
}